@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

:root {
  --darkgreen: #2b6777;
  --lightblue:#c8d8e4;
  --white: #ffffff;
  --lightgrey:#f2f2f2;
  --lightgreen:#52ab98;
  --fadedgreen:#4F96A9;
}

.linkContainerSideBar{
	height: 100%;
	top:0;
	left:0;
	width: 200px;
	z-index: 1;
	overflow-x: hidden;
    background-color: #2b6777;
    transition: 0.5s;
    position: fixed;
}

.sidebarHeader{
	display: flex;
	justify-content: center;
}

p#sidebarHeader{
	color: white;
	padding: 10px;
}

.sidebarLinks{
	padding-left: 20px;
}

.dashboard{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
	background-color: white;
}

.profile{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
}

.cards{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
}

.accounts{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
}

.logout{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
}

a#dashboard {
	color: black;
	text-decoration:none;
	padding: 10px;
}

a#profile {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#accounts {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#logout {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#cards{
	color: white;
	text-decoration:none;
	padding: 10px;
}

.mainPage{
	transition: margin-left .5s;
	margin-left: 200px;
}

body{
	font-family: 'Actor', sans-serif;
}

.summary-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    grid-gap: 0px;
}

.accounts-summary {
	width: 350px;
  	margin: 100px auto;
  	padding: 5px auto;
  	padding-left: 10px;
  	padding-right: 10px;
  	border-radius: 10px;
  	background-color: var(--lightgrey);
}

.account-details {
    flex-direction: column;
    background-color: var(--white);
    width: 95%;
    padding: 5px;
    margin: 10px auto;
    border-radius: 10px;
    height: 125px;
}

.details-account-name p {
	font-weight: bold;
}

.details-account-balance {
	text-align: right;
}

.details-account-balance p{
    display: inline;
}

.cards-summary {
	width: 350px;
  	margin: 100px auto;
  	padding: 5px auto;
  	padding-left: 10px;
  	padding-right: 10px;
  	border-radius: 10px;
  	background-color: var(--lightgrey);
}

.card-details {
    display: block;
    flex-direction: column;
    background-color: var(--white);
    padding: 5px;
    margin: 10px auto;
    width: 95%;
    border-radius: 10px;
    height: 125px;
}

.details-card-type p {
	font-weight: bold;
}
.detail-label {
    font-weight: bold;
}

.details-card-limit p,
.details-card-amount p {
    display: inline;
}

.details-card-limit,
.details-card-amount {
    text-align: right;
}

.openSidebar{
	color: white;
	border:none;
	background-color:#4F96A9;
	padding: 15px;
	border-radius: 15px;
}

.openSidebar:hover{
	opacity: 0.6;
}