.linkContainerSideBar{
	height: 100%;
	top:0;
	left:0;
	z-index: 1;
	overflow-x: hidden;
    background-color: #2b6777;
    transition: 0.5s;
    position: fixed;
}


.sidebarLinks{
	padding-left: 20px;
}

.dashboard{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
}

.profile{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
	background-color: white;
}

.cards{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
}

.accounts{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
}

.logout{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
}

a#dashboard {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#accounts {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#logout {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#cards{
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#profile{
	color: black;
	text-decoration:none;
	padding: 10px;
}

.mainPage{
	transition: margin-left .5s;
	margin-left:160px;
}
