@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@keyframes transitionIn {
	from{
		opacity:0;
		transform:rotateX(-10deg);
	}
	
	to {
		opacity:1;
		transform:rotateX(0);
	}
}

body{
	font-family: 'Actor', sans-serif;
}

.linkContainerSideBar{
	height: 100%;
	top:0;
	left:0;
	width: 200px;
	z-index: 1;
	overflow-x: hidden;
    background-color: #2b6777;
    transition: 0.5s;
    position: fixed;
}

.sidebarHeader{
	display: flex;
	justify-content: center;
}

p#sidebarHeader{
	color: white;
	padding: 10px;
}

.sidebarLinks{
	padding-left: 20px;
}

.dashboard{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
}

.profile{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
}

.cards{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
	background-color: white;
	animation: transitionIn 0.75s;
}

.accounts{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
}

.logout{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
}

a#dashboard {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#profile {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#accounts {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#logout {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#cards{
	color: black;
	text-decoration:none;
	padding: 10px;
}

h1, h2{
	margin-left: 5%;
}

.mainPage{
	transition: margin-left .5s;
	margin-left: 200px
}

.openSidebar{
	color: white;
	border:none;
	background-color:#4F96A9;
	padding: 15px;
	border-radius: 15px;
}

.openSidebar:hover{
	opacity: 0.6;
}

.button-container{
	display:flex;
	justify-content: center;
	gap: 15px;
}

a#cardTransactions{
	color: white;
	text-decoration:none;
	border-radius: 15px;
	padding: 20px;
	background-color: #4F96A9;
	text-align: center;
}

.cardCreation{
	display:flex;
	justify-content: center;
}

.secondary-content-container{
	display: flex;
	margin-left: 5%;
}

.cardDetails{
	width: 35%;
	margin-top: 5%;
	border-radius: 15px;
	padding: 15px;
	background-color: #4F96A9;
}

a#cardDetails{
	text-decoration: none;
}

a#cardDetails:hover{
	opacity: 0.6;
}

p#cardDetails, h3{
	color: white;
}
