<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Account Dashboard Page</title>
	</head>
	<body>
		<h1>Account Dashboard Page</h1>
		
		<div class="linkContainer">
		<a href="/bankaccount/create">Create</a>
			<a href="/bankaccount/deposit">Deposit</a>
			<a href="/bankaccount/transfer">Transfer</a>
			<a href="/bankaccount/withdraw">Withdraw</a>
			<a href="/logout">Logout</a>
		</div>
		
		
		<table>
		<tr th:each="account : ${userBankAccounts}">
			<td th:text=" ${account.accountName}"></td>
			<td th:text=" ${account.accountNumber}"></td>
			<td th:text=" ${account.balance}"></td>
			

		</tr>
		</table>
		
		<h1>updated</h1>

	</body>
</html>