<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/adminaccount.css">
		<title>Account Dashboard Page</title>
	</head>
	<body>
		<div class="linkContainerSideBar" id="sidebar">
			<div class="sidebarHeader">
				<p id="sidebarHeader" >SwipeSmart</p>
			</div>
			<div class="sidebarLinks">
				<div class="dashboard">
					<a id="dashboard" href="/admin/dashboard">Dashboard</a>
				</div>
				<div class="user">
					<a id="user" href="/admin/users">Users</a>
				</div>
				<div class="transactions">
					<a class="transactionsText" id="transactions" href="/admin/transactions">Transactions</a>
				</div>
				<div class="logout">
					<a id="logout" href="/logout">Logout</a>
				</div>
			</div>
		</div>
		<div class="mainPage" id="main">
			<button class="openSidebar">☰</button>
		</div>
		
		
		<div class="mainPage" id="main">
			<h2>Bank Accounts handler</h2>
			
			<div class="accountDetails"
					th:each="account : ${requiredAccounts}">
					<a id="accountDetails"
						th:if="${account.accountStatus.statusName != 'Pending'}" href="#"
						th:onclick="'submitForm(' + ${account.accountId} + ')'"
						style="text-decoration: none;"> <span
						th:text=" 'Account Name: ' + ${account.accountName}"></span> <br />
							<span th:text=" 'Account Number: ' + ${account.accountNumber}"></span>
							<br /> <span th:text=" 'Account Balance: $' + ${account.balance}"></span>
							<br /> <span
							th:text=" 'Account Status: ' + ${account.accountStatus.statusName}"></span>
					</a> 
					
					<div id="accountDetails" th:if="${account.accountStatus.statusName == 'Pending'}">
					    <span th:text=" 'Account Name: ' + ${account.accountName}"></span> <br />
					    <span th:text=" 'Account Number: ' + ${account.accountNumber}"></span> <br />
					    <span th:text=" 'Account Balance: $' + ${account.balance}"></span> <br />
					    <span style="color: red;" th:text=" 'Account Status: ' + ${account.accountStatus.statusName}"></span>
					    <br />
					    <form method="post" action="/admin/bankaccountApproval">
					        <input type="hidden" name="accountNumber" th:value="${account.accountNumber}" />
					        <button type="submit" >Approve</button>
					    </form>
					</div>
				</div>
		</div>
	
			

		
		
		<script>
			let menuOpen = false;
			const sidebar = document.querySelector('.linkContainerSideBar');
			const mainpage = document.querySelector('.mainPage');
			const button = document.querySelector('.openSidebar')
			
			button.addEventListener('click', () => {menuOpen = !menuOpen;
			mainpage.style.marginLeft = menuOpen ? '0' : '200px';
			sidebar.style.width = menuOpen ? '0' : '200px';})
		</script>
	</body>
</html>