<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="/apply-credit-card.css">
		<meta charset="UTF-8">
		<title>Apply for Credit Cards</title>
	</head>
	<body>
		<div class="linkContainerSideBar" id="sidebar">
			<div class="sidebarHeader">
				<p id="sidebarHeader" >SwipeSmart</p>
			</div>
			<div class="sidebarLinks">
				<div class="profile">
					<a id="profile" th:href="@{/users/{id}(id=${user.userId})}">Profile Page</a>
				</div>
				<div class="dashboard">
					<a id="dashboard" href="/dashboard">Dashboard</a>
				</div>
				<div class="cards">
					<a id="cards" href="/userCards">Cards</a>
				</div>
				<div class="accounts">
					<a id="accounts" href="/bankaccount/dashboard">Accounts</a>
				</div>
				<div class="logout">
					<a id="logout" href="/logout">Logout</a>
				</div>
			</div>
		</div>
		<div class="mainPage" id="main">
			<header>
				<button class="openSidebar">☰</button>
			</header>
			<h1 th:text="'Hi ' + ${session.loggedUser.username} + ', please select your credit card to apply for.'"></h1>
			
			<h2>Our available credit card</h2>
			
			<div class="secondary-content-container">   
				<div class="form"> 
		           	<form method="post" action="applyCreditCard" class="applyCreditCard">	
		           		<div class="monthly-salary">
		           			<label class="input-label">Monthly Salary</label>
							<input type="number" name="monthlySalary" placeholder="Monthly Salary" min="0" step="1">
		           		</div>
						<div class="select-card">
							<label class="input-label">Select Card:</label>
							<select name="cardType">
						    <option value="Ultimate Cashback Card">Ultimate Cashback Card</option>
						    <option value="SwipeSmart Platinum Card">SwipeSmart Platinum Card</option>
						  	</select>
						</div>
						<div class="submit-button">
						  	<input id="submitButton" type="submit" value="Apply" class="button">
					  	</div>
					</form>
					<div th:if="${error}">
		   				 <p style="color: red;">There are empty fields, please fill up</p>
					</div>
					<div th:if="${error2}">
		   				 <p style="color: red;">Your salary is too low. You are required to have a monthly salary above $1000</p>
					</div>
				</div>
			</div>
		</div>
		<script>
			let menuOpen = false;
			const sidebar = document.querySelector('.linkContainerSideBar');
			const mainpage = document.querySelector('.mainPage');
			const button = document.querySelector('.openSidebar')
			
			button.addEventListener('click', () => {menuOpen = !menuOpen;
			mainpage.style.marginLeft = menuOpen ? '0' : '200px';
			sidebar.style.width = menuOpen ? '0' : '200px';})
		</script>
	</body>
</html>