<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="/dashboard.css">
		<meta charset="UTF-8">
		<title>User Dashboard</title>
	</head>
	<body>
		<div class="linkContainerSideBar" id="sidebar">
			<div class="sidebarHeader">
				<p id="sidebarHeader" >SwipeSmart</p>
			</div>
			<div class="sidebarLinks">
				<div class="profile">
					<a id="profile" th:href="@{/users/{id}(id=${user.userId})}">Profile Page</a>
				</div>
				<div class="dashboard">
					<a id="dashboard" href="/dashboard">Dashboard</a>
				</div>
				<div class="cards">
					<a id="cards" href="/userCards">Cards</a>
				</div>
				<div class="accounts">
					<a id="accounts" href="/bankaccount/dashboard">Accounts</a>
				</div>
				<div class="logout">
					<a id="logout" href="/logout">Logout</a>
				</div>
			</div>
		</div>
		<div class="mainPage" id="main">
			<button class="openSidebar">☰</button>
			<h1 th:text="'Hello ' + ${user.username} + '! Welcome to the dashboard'"></h1>
			<p> Display info here on Dashboard </p>	
			<div class="accounts" th:each="account : ${user.accounts}" th:object=${user}>
				<div class="accountDetails">
					<p th:text="${account.accountName}">hi</p>
					<p th:text="${account.balance}"></p>
					<p th:text="${account.accountNumber}"></p>
				</div>
			</div>
			<div class="creditCards" th:each="card: ${user.creditCards}" th:object="${user}">
				<div class="cardDetails">
					<p th:text="${card.creditCardNumber}"></p>
					<p th:text="${card.cardLimit}"></p>
					<p th:text="${card.cardType}"></p>
					<p th:text="${card.amountUsed}"></p>
				</div>
			</div>
			<div class="spendingInsights">
			</div>
			<div class="pieChart">
			</div>
		</div>
		<script>
			let menuOpen = false;
			const sidebar = document.querySelector('.linkContainerSideBar');
			const mainpage = document.querySelector('.mainPage');
			const button = document.querySelector('.openSidebar')
			
			button.addEventListener('click', () => {menuOpen = !menuOpen;
			mainpage.style.marginLeft = menuOpen ? '0' : '160px';
			sidebar.style.width = menuOpen ? '0' : '160px';})
		</script>
	</body>	
</html>