<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="/dashboard.css">
		<meta charset="UTF-8">
		<title>User Dashboard</title>
	</head>
	<body>
		<!-- side bar -->
		<div class="linkContainerSideBar" id="sidebar">
			<button onclick="closeSidebar()" class="closeSidebar">X</button>
			<div class="sidebarLinks">
				<div class="profile">
					<a id="profile" th:href="@{/users/{id}(id=${user.userId})}">Profile Page</a>
				</div>
				<div class="dashboard">
					<a id="dashboard" href="/dashboard">Dashboard</a>
				</div>
				<div class="cards">
					<a id="cards" href="/userCards">Cards</a>
				</div>
				<div class="accounts">
					<a id="accounts" href="/bankaccount/dashboard">Accounts</a>
				</div>
				<div class="logout">
					<a id="logout" href="/logout">Logout</a>
				</div>
			</div>
		</div>
		
		<!-- dashboard -->
		<div class="mainPage" id="main">
			<button onclick="openSidebar()" class="openSidebar">☰</button>
			<h1 th:text="'Hello ' + ${user.username} + ','"></h1>
			<p> This is for you, at a glance: </p>	
			<div class="accounts-summary" th:each="account : ${user.accounts}" th:object=${user}>
				<div class="account-details">
					<p th:text="${account.accountName}">hi</p>
					<p th:text="${account.balance}"></p>
					<p th:text="${account.accountNumber}"></p>
				</div>
			</div>
			<div class="cards-summary" th:each="card: ${user.creditCards}" th:object="${user}">
				<div class="card-details">
					<div class="details-card-type">
						<p th:text="${card.cardType}"></p>
					</div>
					
					<div class="details-card-number">
						<p th:text="${card.creditCardNumber}"></p>
					</div>
					
					<div class="details-card-limit">
						<label class="detail-label">Card Limit</label>
						<p th:text="${card.cardLimit}"></p>
					</div>
					
					<div class="details-card-amount">
						<label class="detail-label">Amount Used</label>
						<p th:text="${card.amountUsed}"></p>
					</div>
					
					
					
					
				</div>
			</div>
			<div class="spendingInsights">
			</div>
			<div class="pieChart">
			</div>
		</div>
		<script>
			function openSidebar(){
				document.getElementById("sidebar").style.width="160px";
				document.getElementById("main").style.marginLeft="160px";
			}
			function closeSidebar(){
				document.getElementById("sidebar").style.width="0";
				document.getElementById("main").style.marginLeft="0";
			}
		</script>
	</body>	
</html>