<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banking Application</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <h1>Welcome to Our Banking Application</h1>
  </header>
	<div>
		<a href="/register">Register</a>
     	<a href="/login">Login</a>
	</div> 
  <footer>
    <p>&copy; 2024 Banking Application. All rights reserved.</p>
  </footer>
  <p>Hi I am editing on GitLab</p>
</body>
</html>
