<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="/login.css">
		<meta charset="UTF-8">
		<title>Login Page</title>
	</head>
	<body>
		<div class="logo-container">
	 	  <a href="/">
			<img src="/logo-transparent.png">
		  </a>
		  <p> Welcome Back, partner. </p>
		</div>
		
		<div class="username-container">
		</div>
		
		<div class="password-container">
		</div>
		
		<div class="login-button-container">
			<a href="/dashboard" class="login-button">Login</a>
		</div>
		
			<div class="formContainer">
				<form method="post" action="login">
					<input type="text" name="username" placeholder="Username">
					<input type="password" name="password" placeholder="Password">
					<input id="loginButton" type="submit" value="Login">
				</form>
				<div class="errorMessage" th:if="${errorMessage}">
					<p>Incorrect Username or Password</p>
				</div>
			</div>
		</div>	
		<div class="registerButton">
			<a id="register" href="/register">Register Here</a>
		</div>
	</body>
</html>