<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="/profile.css">
		<meta charset="UTF-8">
		<title>User Profile Page</title>
	</head>
	<body>
		<div class="linkContainerSideBar" id="sidebar">
			<div class="sidebarHeader">
				<p id="sidebarHeader" >SwipeSmart</p>
			</div>
			<div class="sidebarLinks">
				<div class="profile">
					<a id="profile" th:href="@{/users/{id}(id=${user.userId})}">Profile Page</a>
				</div>
				<div class="dashboard">
					<a id="dashboard" href="/dashboard">Dashboard</a>
				</div>
				<div class="cards">
					<a id="cards" href="/userCards">Cards</a>
				</div>
				<div class="accounts">
					<a id="accounts" href="/bankaccount/dashboard">Accounts</a>
				</div>
				<div class="logout">
					<a id="logout" href="/logout">Logout</a>
				</div>
			</div>
		</div>
		<div class="mainPage" id="main">
			<button onclick="openSidebar()" class="openSidebar">☰</button>
			<h1>User Profile:</h1>
			<h2><span th:text="${user.username}"></span></h2>
			<div class="userDetails" th:object="${user}">
				Username: <span th:text="*{username}"></span>
				Address: <span th:text="*{address}"></span>
				First Name: <span th:text="*{firstName}"></span>
				Last Name: <span th:text="*{lastName}"></span>	
			</div>
			<div class="link">
				<a th:href="@{/users/{id}/details(id=${user.userId})}">Edit Profile Details</a>
				<a href="/dashboard">Return to dashboard</a>
			</div>
		</div>
		<script>
			let menuOpen = false;
			const sidebar = document.querySelector('.linkContainerSideBar');
			const mainpage = document.querySelector('.mainPage');
			const button = document.querySelector('.openSidebar')
			
			button.addEventListener('click', () => {menuOpen = !menuOpen;
			mainpage.style.marginLeft = menuOpen ? '0' : '160px';
			sidebar.style.width = menuOpen ? '0' : '160px';})
		</script>
	</body>
</html>