<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Transfer page</title>
</head>
<body>
	<h1>Transfer</h1>
	<!--  Try changing the method to 'get' below -->


	<form method="post" action="Transfer">
		<!-- Use the 'placeholder' tag to be more helpful -->
		
		<input type="number" name="Transfer amount" placeholder="Transfer Amount" step="0.01" required> 
		<input type="text" name="TransferTo" placeholder="Transfer To">
		<input type="submit" value="submit">
	</form>



</body>
</html>