<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>User Credit Cards</title>
	</head>
	<body>
		<div class="linkContainerSideBar" style="display:none" id="sidebar">
			<button onclick="closeSidebar()" class="closeSidebar">X</button>
			<a th:href="@{/users/{id}(id=${user.userId})}">Profile Page</a>
			<a href="/userCards">Cards</a>
			<a href="/bankaccount/dashboard">Accounts</a>
			<a href="/logout">Logout</a>
		</div>
		<div class="mainPage">
			<button onclick="openSidebar()" class="openSidebar">☰</button>
			<h1 th:text="'What can we do for you today, ' + ${session.loggedUser.username} + '?'"></h1>
			<div class="button-container">
	        <a href="#">Pay Bill</a>
	        <a href="#">Rewards</a>
	    	</div>
			
			<h2>Your Credit Cards</h2>
			<a href="/applyCreditCard">Apply for a new credit card</a>
			<div class="secondary-content-container" th:each="creditCard : ${cards}">    
	           <a th:href="@{'/viewTransactions?creditCardId=' + ${creditCard.creditCardId}}">
		           <h3 th:text="${creditCard.cardType}"></h3>
		           <p th:text="${creditCard.creditCardNumber}"></p>
		           <p>Amount Used</p>
		           <p th:text="${creditCard.amountUsed}"></p>
	           </a>
			</div>
		</div>
		<script>
			function openSidebar(){
				document.getElementById("sidebar").style.width="160px";
				document.getElementById("main").style.marginLeft="160px";
			}
			function closeSidebar(){
				document.getElementById("sidebar").style.display="none";
			}
		</script>
	</body>
</html>