<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/userCards.css">
<meta charset="UTF-8">
<title>User Credit Cards</title>
</head>
<body>
	<div class="linkContainerSideBar" id="sidebar">
		<div class="sidebarHeader">
			<p id="sidebarHeader">SwipeSmart</p>
		</div>
		<div class="sidebarLinks">
			<div class="profile">
				<a id="profile" th:href="@{/users/{id}(id=${user.userId})}">Profile
					Page</a>
			</div>
			<div class="dashboard">
				<a id="dashboard" href="/dashboard">Dashboard</a>
			</div>
			<div class="cards">
				<a id="cards" href="/userCards">Cards</a>
			</div>
			<div class="accounts">
				<a id="accounts" href="/bankaccount/dashboard">Accounts</a>
			</div>
			<div class="logout">
				<a id="logout" href="/logout">Logout</a>
			</div>
		</div>
    </div>
		<div class="mainPage" id="main">
    
			<header>
              <button class="openSidebar">☰</button>
            </header>
            
			<h1 th:text="'What can we do for you today, ' + ${session.loggedUser.username} + '?'"></h1>
			
            <div class="button-container">
		        <a id="cardTransactions" href="#">Pay</a>
		        <a id="cardTransactions" href="#">Rewards</a>
                <a id="cardTransactions" href="/applyCreditCard">Apply</a>
	    	</div>
			
			<h2>Your Credit Cards</h2>
			
			<div class="card-details-container">    
	           <div class="card-details"  th:each="creditCard : ${cards}">
		           <a id="card-details" th:href="@{'/viewTransactions?creditCardId=' + ${creditCard.creditCardId}}">
			           <div class="details-card-type">
                         <p th:text="${creditCard.cardType}"></p>
                       </div>
                       <div class="details-card-number">
                         <p id="cardDetails" th:text="${creditCard.creditCardNumber}"></p>
                       </div>
                       <div class="details-card-amount">
                         <label class="detail-label">Amount Used </label>
                         <p id="cardDetails" th:text="${creditCard.amountUsed}"></p>
                       </div>
			           
		           </a>
		       </div>
			</div>
	
			<form id="viewTransactionsForm" th:action="@{/viewTransactions}"
				method="post" style="display: none;">
				<input type="hidden" id="creditCardIdInput" name="creditCardId">	
			</form>
          
	</div>
	<script>
			let menuOpen = false;
			const sidebar = document.querySelector('.linkContainerSideBar');
			const mainpage = document.querySelector('.mainPage');
			const button = document.querySelector('.openSidebar')
			
			button.addEventListener('click', () => {menuOpen = !menuOpen;
			mainpage.style.marginLeft = menuOpen ? '0' : '200px';
			sidebar.style.width = menuOpen ? '0' : '200px';})
			
			function submitForm(creditCardId) {
					    document.getElementById("creditCardIdInput").value = creditCardId;
					    document.getElementById("viewTransactionsForm").submit();
					}
		</script>
</body>
</html>